.fontcolor0000ff {
    color: #0000ff;
}

.atualizado {
    display: flex;
    font-style: italic;
    justify-content: end;
}

.footer {
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    padding-top: 10%;
}

.footer>p {
    font-size: 13px;
    margin-top: 15px;
}

.align-email {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 650px) {
    .footer {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-top: 0;
    }
}

@media (max-width: 800px) {
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0 auto;
    }
}